* {
    box-sizing: border-box;
}

body{
    font-family: tahoma; 
}

#encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 128, 202);
    color: black;
    width: 100%;
    font-size: 30px;
    
}

#contenido{
    background-color: rgb(236, 188, 228);
    text-align: center;
    width: 100%;
    height: 400px;
    font-family: tahoma;
}   

#pie{
    display: flex;
    justify-content: center;
    background-color: rgb(156, 162, 245);
    font-family: tahoma;
    font-size: 24px;
    height: 15%;
}

footer {

    left: 0px;
    bottom: 0px;
    width: 100%;
    font-family: tahoma;
    font-size: 19px;
}